h1{
    text-align: center;
}
body {
    font-family: "Lacquer", serif !important;
    font-weight: 400 ;
    font-style: normal;
    background-color:darkgray !important;
  }
.grey{
    text-align: center;
    background-color: darkgray;
}
#co{
    background-color: darkgray !important;
    text-align: center;
}

.card-img-top{
    text-align:center !important;
}

#cent{
    text-align: center;
    background-color: darkgray;
}
.card{
    background-color: black;
}
#wo {
    text-align: center;
    background-color: darkgray;
}
#wi {
    text-align: center;
    background-color: darkgray;
}
#we {
    text-align: center;
    background-color: darkgray;
}
#wu {
    text-align: center;
    background-color: darkgray;
}
#wy {
    text-align: center;
    background-color: darkgray;
}
#wl{
    text-align: center;
    background-color: darkgray;
}
#yy{
    text-align: center;
    background-color: darkgray;
}

#color{
    text-align: center;
    background-color: darkgray;
}

#tcolor{
    text-align: center;
    background-color: darkgray;
}

#thcolor{
    text-align: center;
    background-color: darkgray;
}

#thecolor{
    text-align: center;
    background-color: darkgray;
}












